#navbar {

    background-color: rgba(0,0,0,255);
}

/* #boton {

    background-color: rgba(0,0,0,255);
    color: white;
    border-color: white;
} */

#boton {

    background-color: white;
    color: rgba(0,0,0,255);
    border-color: rgba(0,0,0,255);
}